@inject IStringLocalizer<SharedResources> Loc

<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @Loc["ReconnectRejoining"]
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @Loc["ReconnectRetryPrefix"]<span id="components-seconds-to-next-attempt"></span>@Loc["ReconnectRetrySuffix"]
        </p>
        <p class="components-reconnect-failed-visible">
            @Loc["ReconnectFailedTitle"]<br />@Loc["ReconnectRetryOrReload"]
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @Loc["ReconnectButtonRetry"]
        </button>
        <p class="components-pause-visible">
            @Loc["ReconnectPaused"]
        </p>
        <p class="components-resume-failed-visible">
            @Loc["ReconnectResumeFailedTitle"]<br />@Loc["ReconnectRetryOrReload"]
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            @Loc["ReconnectButtonResume"]
        </button>
    </div>
</dialog>
